cloudreactor-procwrapper==3.1.2

# Requirements for secrets resolution
boto3>=1.16.56
jsonpath-ng>=1.5.2
mergedeep>=1.3.4
python-dotenv>=0.17.1
pyyaml>=5.4.1

# App specific requirements
# For the web_server task example, remove if not deploying
Flask==1.1.2
