{% macro default_formatter(v) -%}
  {% if v is boolean -%}
  "{{ v | string | upper }}"
  {%- else -%}
  {{ v | string | to_json }}
  {%- endif %}
{%- endmacro %}

{% macro env_def(obj, name, maybe_secret=false, env_name='',
  formatter=default_formatter) -%}
  {%- if (obj[name] is defined) and (obj[name] != 'null') -%}
    {%- set v = obj[name] -%}
    {%- set is_aws_sm_secret = maybe_secret and (v is string) and v.startswith('arn:aws:secretsmanager:') -%}
    {%- if env_name == '' -%}
      {%- if is_aws_sm_secret -%}
        {%- set resolved_env_name = 'AWS_SM_PROC_WRAPPER_' + name.upper() + '_FOR_PROC_WRAPPER_TO_RESOLVE' %}
      {%- else -%}
        {%- set resolved_env_name = 'PROC_WRAPPER_' + name.upper() %}
      {%- endif -%}
    {%- else -%}
      {%- if is_aws_sm_secret -%}
        {%- set resolved_env_name =  'AWS_SM_' + env_name + '_FOR_PROC_WRAPPER_TO_RESOLVE' %}
      {%- else -%}
        {%- set resolved_env_name = env_name %}
      {%- endif -%}
    {%- endif -%}
    {
      "name": "{{ resolved_env_name }}",
      "value" : {%+ if formatter == 'caller' %}{{ caller(v) }}{%+ else %}{{ formatter(v) }}{% endif %}
    },
  {%- endif -%}
{%- endmacro %}

{% set task_name=item %}{# from 'with_items' in the calling task #}
{% set common_task_config=default_task_config | default({}) | combine(task_name_to_config[task_name] | default({}), recursive=True) %}
{% set env_task_config=default_env_task_config | default({}) | combine(task_name_to_env_config[task_name] | default({}), recursive=True) %}
{% set task_config=common_task_config | combine(env_task_config, recursive=True) %}
{% set service_instance_count=task_config.service_instance_count | default('null') %}

{% if task_config.is_service is defined %}
  {% set is_service=task_config.is_service %}
{% else %}
  {% if service_instance_count is number %}
    {% set is_service=service_instance_count > 0 %}
  {% else %}
    {% set is_service=false %}
  {% endif %}
{% endif %}

{% set max_concurrency=task_config.max_concurrency | default(1) %}
{% set global_task_version_number=project_version_number | default('null') %}
{% set task_version_number=task_config.task_version_number | default(global_task_version_number) %}
{% set global_task_version_text=project_version_text | default('null') %}
{% set task_version_text=task_config.task_version_text | default(global_task_version_text) %}
{% set wrapper=task_config.wrapper | default({}) %}
{% set aws_ecs=aws.ecs | default({}) %}
{% set task_ecs=task_config.ecs | default({}) %}
{% set ecs=aws_ecs | combine(task_ecs, recursive=True) %}
{% set cpu_units=ecs.cpu_units | default(256) %}
{% set memory_mb=ecs.memory_mb | default(512) %}
{% set extra_container_cpu_units=ecs.extra_container_cpu_units | default(0) %}
{% set extra_container_memory_mb=ecs.extra_container_memory_mb | default(0) %}
{% set environment_variables=task_config.env | default({}) %}
{
    "requiresCompatibilities": [
        "FARGATE"
    ],
    "family": {{ (project_name + '_' +  task_name + '_' + env) | to_json }},
    "networkMode": "awsvpc",
    "executionRoleArn": {{ ecs.execution_role_arn | to_json }},
    {% if ecs.task.role_arn is defined %}
    "taskRoleArn": {{ ecs.task.role_arn | to_json }},
    {% endif %}
    "cpu": "{{cpu_units}}",
    "memory": "{{memory_mb}}",
    "containerDefinitions": [
        {
            "name": {{ (project_name + '_' +  task_name + '_' + env) | to_json }},
            "image": {{ (ecr_hostname + '/' + docker_image_name) | to_json }},
            "cpu": {{ cpu_units - extra_container_cpu_units }},
            "memory": {{ memory_mb - extra_container_memory_mb }},
            "essential": true,
            "logConfiguration": {
                "logDriver": "awslogs",
                "options": {
                    {# Note: the ECS-CloudWatchLogs policy must be attached to your ecsTaskExecutionRole so that
                       the log group can be created. Alternatively, you may create the group yourself before deploying and
                       set this to "false".
                       See https://docs.aws.amazon.com/AmazonECS/latest/developerguide/using_cloudwatch_logs.html
                    #}
                    "awslogs-create-group": "true",
                    "awslogs-group": {{ ('/aws/fargate/' + project_name + '-' + env + '-' + task_name) | to_json }},
                    "awslogs-region": {{ aws_region | to_json }},
                    "awslogs-stream-prefix": {{ (project_name + '-' + env) | to_json }}
                }
            },
            "environment": [
                {% for name, value in environment_variables.items() %}
                  {% if value is defined and value | string | length %}
                {
                    "name" : {{ name | string | to_json }},
                    "value" : {{ value | string | to_json }}
                },
                  {% endif %}
                {% endfor %}
                {{ env_def(cloudreactor, 'api_base_url') }}
                {# Only puts PROC_WRAPPER_API_KEY in your environment if
                   cloudreactor.task_api_key is defined. Leave it undefined if you
                   plan on getting it from AWS Secrets Manager through the
                   ECS Task Execution role (where AWS injects the environment).
                   The API key can also be a AWS Secrets Manager ARN which the proc_wrapper
                   module will fetch at runtime.
                #}
                {{ env_def(cloudreactor, 'task_api_key', true, 'PROC_WRAPPER_API_KEY') }}
                {
                    "name" : "PROC_WRAPPER_DEPLOYMENT",
                    "value" : {{ env | to_json }}
                },
                {
                    "name" : "PROC_WRAPPER_TASK_NAME",
                    "value" : {{ (project_name + '_' +  task_name + '_' + env) | to_json }}
                },
                {
                    "name" : "PROC_WRAPPER_TASK_IS_SERVICE",
                    "value" : "{{ is_service | string | upper }}"
                },
                {
                    "name" : "PROC_WRAPPER_MAX_CONCURRENCY",
                    "value" : "{% if max_concurrency is number %}{{ max_concurrency }}{% else %}-1{% endif %}"
                },
                {{ env_def(wrapper, 'offline_mode') }}
                {{ env_def(wrapper, 'prevent_offline_execution') }}
                {{ env_def(wrapper, 'resolve_secrets') }}
                {{ env_def(wrapper, 'process_max_retries') }}
                {{ env_def(wrapper, 'process_retry_delay_seconds') }}
                {{ env_def(wrapper, 'process_check_interval') }}
                {{ env_def(wrapper, 'process_termination_grace_period_seconds') }}
                {% if service_instance_count == 'null' %}
                {
                    "name" : "PROC_WRAPPER_PROCESS_TIMEOUT_SECONDS",
                    "value" : "{{ wrapper.process_timeout_seconds | default(-1) }}"
                },
                {% endif %}
                {% if task_version_number != 'null' %}
                {
                    "name" : "PROC_WRAPPER_TASK_VERSION_NUMBER",
                    "value" : "{{task_version_number}}"
                },
                {% endif %}
                {% if task_version_text != 'null' %}
                {
                    "name" : "PROC_WRAPPER_TASK_VERSION_TEXT",
                    "value" : {{ task_version_text | to_json }}
                },
                {% endif %}
                {% if task_version_signature is defined %}
                {
                    "name" : "PROC_WRAPPER_TASK_VERSION_SIGNATURE",
                    "value" : {{ task_version_signature | to_json }}
                },
                {% endif %}
                {% if wrapper.other_instance_metadata is defined %}
                {
                    "name" : "PROC_WRAPPER_TASK_INSTANCE_METADATA",
                    "value" : {{ wrapper.other_instance_metadata | to_json | to_json }}
                },
                {% endif %}
                {{ env_def(wrapper, 'send_pid') }}
                {{ env_def(wrapper, 'send_hostname') }}
                {{ env_def(wrapper, 'send_runtime_metadata') }}
                {{ env_def(wrapper, 'api_heartbeat_interval_seconds') }}
                {{ env_def(wrapper, 'api_error_timeout_seconds') }}
                {{ env_def(wrapper, 'api_retry_delay_seconds') }}
                {{ env_def(wrapper, 'api_resume_delay_seconds') }}
                {{ env_def(wrapper, 'api_task_execution_creation_error_timeout_seconds') }}
                {{ env_def(wrapper, 'api_task_execution_creation_conflict_timeout_seconds') }}
                {{ env_def(wrapper, 'api_task_execution_creation_conflict_retry_delay_seconds') }}
                {{ env_def(wrapper, 'api_final_update_timeout_seconds') }}
                {{ env_def(wrapper, 'api_request_timeout_seconds') }}
                {{ env_def(wrapper, 'enable_status_update_listener') }}
                {{ env_def(wrapper, 'status_update_interval_seconds') }}
                {{ env_def(wrapper, 'status_update_socket_port') }}
                {{ env_def(wrapper, 'log_level') }}
                {{ env_def(wrapper, 'log_secrets') }}
                {# Only puts PROC_WRAPPER_ROLLBAR_ACCESS_TOKEN in your environment if
                   cloudreactor.rollbar_access_token is defined. The value may be a
                   AWS Secrets Manager ARN which will be fetched by the
                   proc_wrapper module at runtime.
                #}
                {{ env_def(wrapper, 'rollbar_access_token', true) }}
                {{ env_def(wrapper, 'rollbar_retries') }}
                {{ env_def(wrapper, 'rollbar_retry_delay_seconds') }}
                {{ env_def(wrapper, 'rollbar_timeout_seconds') }}
                {{ env_def(task_config, 'work_dir') }}
                {# This is last because it is required so it definitely does not end with a comma #}
                {
                    "name" : "TASK_COMMAND",
                    "value" : {{ task_config.command | to_json }}
                }
            ]

            {% if ecs.extra_main_container_properties is defined %}
            ,
            {% for name, value in ecs.extra_main_container_properties.items() %}
            {{ name | to_json }}: {{ value | to_json }}{{ '' if loop.last else ',' }}
            {% endfor %}
            {% endif %}
        }
        {% if ecs.extra_container_definitions[0] is defined %}
        ,
        {% for container_definition in ecs.extra_container_definitions %}
        {{ container_definition | to_json }}{{ '' if loop.last else ',' }}
        {% endfor %}
        {% endif %}
    ]
    {% if ecs.extra_task_definition_properties is defined %}
    ,
    {% for name, value in ecs.extra_task_definition_properties.items() %}
    {{ name | to_json }}: {{ value | to_json }}{{ '' if loop.last else ',' }}
    {% endfor %}
    {% endif %}
}
